@{
    ViewData["Title"] = "Home Page";
}

<hr />

<center><h2 class="text-primary">Seja Bem Vindo</h2></center>
<hr>


<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="card">
                <div class="card-header">
                    Setor Pessoal
                </div>
                <div class="card-body">
                    <h5 class="card-title">Gestão de Colaboradores</h5>
                    <a class="btn btn-block btn-primary" asp-controller="SetorPessoal" asp-action="Index">Acessar</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card">
                <div class="card-header">
                    Anotações
                </div>
                <div class="card-body">
                    <h5 class="card-title">Stick</h5>
                    <a class="btn btn-block btn-primary" asp-controller="Menu" asp-action="Index" asp-area="SetorPessoal"><span class="glyphicon glyphicon-edit"></span>  Acessar</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card">
                <div class="card-header">
                    Admin
                </div>
                <div class="card-body">
                    <h5 class="card-title">Administração do Sistema</h5>
                    <a class="btn btn-block btn-primary" asp-controller="Admin" asp-action="Index">Acessar</a>
                </div>
            </div>
        </div>
    </div>

</div>