@{
    ViewData["Title"] = "Menu";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<br />

<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="card text-white bg-dark mb-3">
                <div class="card-header">Setor Pessoal</div>
                <div class="card-body">
                    <a class="btn btn-block btn-primary" asp-controller="SetorPessoal" asp-action="Index">Acessar</a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card text-white bg-dark mb-3">
                <div class="card-header">Pedagogico</div>
                <div class="card-body">
                    <a class="btn btn-block btn-primary" asp-controller="SetorPessoal" asp-action="Index">Acessar</a>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-6">
            <div class="card text-white bg-dark mb-3">
                <div class="card-header">Nutrição</div>
                <div class="card-body">
                    <a class="btn btn-block btn-primary" asp-controller="SetorPessoal" asp-action="Index">Acessar</a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card text-white bg-dark mb-3">
                <div class="card-header">Manutenção</div>
                <div class="card-body">
                    <a class="btn btn-block btn-primary" asp-controller="Manutencao" asp-action="Index">Acessar</a>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-6">
            <div class="card text-white bg-dark mb-3">
                <div class="card-header">Professores</div>
                <div class="card-body">
                    <a class="btn btn-block btn-primary" asp-controller="SetorPessoal" asp-action="Index">Acessar</a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card text-white bg-dark mb-3">
                <div class="card-header">Atendimento</div>
                <div class="card-body">
                    <a class="btn btn-block btn-primary" asp-controller="SetorPessoal" asp-action="Index">Acessar</a>
                </div>
            </div>
        </div>
    </div>
</div>

