@model Manutencao
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutManutencao.cshtml";
}
<h2 class="text-center text-info">Registro de Manutenção</h2>
<hr />

<form asp-action="Create">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label asp-for="item_iditem" class="control-label">Item</label>
                    <select class="form-control" asp-for="item_iditem">
                        @{
                            foreach (var item in (List<Item>)ViewBag.ListaItem)
                            {
                                <option value="@item.IdItem">@item.Nome</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label asp-for="setor_idsetor" class="control-label">Setor</label>
                    <select class="form-control" asp-for="setor_idsetor">
                        @{
                            foreach (var item in (List<Setor>)ViewBag.ListaSetor)
                            {
                                <option value="@item.idSetor">@item.Nome</option>
                            }
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label asp-for="Observacao" class="control-label"></label>
                    <textarea cols="10" asp-for="Observacao" class="form-control"></textarea>
                    <span asp-validation-for="Observacao" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label asp-for="Quantidade" class="control-label"></label>
                    <input asp-for="Quantidade" class="form-control" />
                    <span asp-validation-for="Quantidade" class="text-danger"></span>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Prioridade</label>
                    <select asp-for="Prioridade" class="form-control" id="exampleFormControlSelect1">
                        <option>Longo Prazo</option>
                        <option>Medio Prazo</option>
                        <option>Curto Prazo</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary"><span class="fas fa-save"></span> Salvar</button>
</form>

