
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutManutencao.cshtml";
}



<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="card text-white bg-dark mb-3">
                <div class="card-header"><i class="fas fa-filter"></i> Filtrar por Setor</div>
                <div class="card-body">
                    <a class="btn btn-block btn-primary" asp-controller="Manutencao" asp-action="ListarSetor">Acessar</a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card text-white bg-dark mb-3">
                <div class="card-header"><i class="fas fa-filter"></i> Filtrar por Bairro</div>
                <div class="card-body">
                    <a class="btn btn-block btn-primary" asp-controller="SetorPessoal" asp-action="Index">Acessar</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="card text-white bg-dark mb-3">
                <div class="card-header"><i class="fas fa-filter"></i> Filtrar por O.S</div>
                <div class="card-body">
                    <a class="btn btn-block btn-primary" asp-controller="SetorPessoal" asp-action="Index">Acessar</a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card text-white bg-dark mb-3">
                <div class="card-header"><i class="fas fa-filter"></i> Filtrar por Status</div>
                <div class="card-body">
                    <a class="btn btn-block btn-primary" asp-controller="SetorPessoal" asp-action="Index">Acessar</a>
                </div>
            </div>
        </div>
    </div>
</div>