
@{
    ViewData["Title"] = "Sucesso";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="alert alert-success text-center" role="alert">
    <h3> Usuário registrado com sucesso </h3> <a asp-area="" asp-controller="Usuario" asp-action="Index">Acessar</a>
</div>

